{% extends 'gestion/base.html' %}

{% block content %}
<h1 class="page-title">{{ titulo }}</h1>
<form method="post" novalidate>
    {% csrf_token %}
    {% if form.non_field_errors %}
        <ul class="errores">
            {% for err in form.non_field_errors %}<li>{{ err }}</li>{% endfor %}
        </ul>
    {% endif %}
    <table class="form-table">
        {% for field in form %}
        <tr>
            <th>{{ field.label_tag }}</th>
            <td>
                {{ field }}
                {% if field.errors %}
                    <ul class="errores">{% for err in field.errors %}<li>{{ err }}</li>{% endfor %}</ul>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="form-actions">
        <button type="submit" class="btn btn--primary">Guardar</button>
        <a class="btn btn--outline" href="{% url 'orden_lista' %}">Cancelar</a>
    </div>
</form>
{% endblock %}
